 
.postPage {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.post {
    padding: 20px 0;
    margin-bottom: 100px;
    
}

.postDescr {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.postTitle {
    font-size: 32px;
    margin: 10px 0;
}

.postDate {
    font-size: 16px;
    margin-top: 10px;
}

.postBody {
    
    font-size: 25px;
    line-height: 30px;
    padding: 30px 0;
}



.postPage button:hover,
.postPage button:focus{
    opacity: 0.9;
    transform: scale(0.98);
}

.postFooter {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    
}

.likesBox {
    display: flex;
    align-items: center;
}

.like {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.buttonBox {

}

.deleteBtn{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    color: red;
    cursor: pointer;
}

.editBtn{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    color: orangered;
    cursor: pointer;
    background-color: transparent;
}


.back {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #ede7e7;
    margin-bottom: 10px;
    cursor: pointer;
}