 
.postPage {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.post {
    padding: 20px 0;
    margin-bottom: 100px;
    
}

.postImg {
    width: 500px;
}

.postImg img {
    width: 100%;
    margin-bottom: 15px
}


.postDescr {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.postTitle {
    font-size: 32px;
    margin: 10px 0;
}

.postDate {
    font-size: 16px;
    margin-top: 10px;
}

.postBody {
    
    font-size: 25px;
    line-height: 30px;
    padding: 30px 0;
}



.postPage button:hover,
.postPage button:focus{
    opacity: 0.9;
    transform: scale(0.98);
}

.postFooter {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    
}

.likesBox {
    width: 100px;
    display: flex;
    align-items: center;
    background-color: #ede7e7;
    border-radius: 10px;
}

.like {
    width: 35px;
    height: 40px;
    margin: 0 15px;
    cursor: pointer;
}

.like:hover {
    transform: scale(1.2);
}


.deleteBtn{
    margin-left: 15px;
    width: 80px;
    height: 40px;
    color: red;
    background-color: #ede7e7;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.editBtn{
    margin-left: 15px;
    width: 80px;
    height: 40px;
    background-color: #ede7e7;
    border-radius: 10px;
    color: orangered;
    cursor: pointer;
    transition: .2s linear;

}

.deleteBtn:hover,
.editBtn:hover {
    transform: scale(1.3);
}


.back {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #ede7e7;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.back:hover {
    transform: scale(1.3);
}