.home {
    flex-grow: 1;
}

.postsList {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 10px;
}

.notPosts {
    font-size: 18px;
    margin: 0 auto;
    padding: 50px 0;
}