.header {
    
    background-color: #66d8f5;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 44px;
    font-weight: 600;
    margin-right: 50px;
    padding: 10px;
    background: #fff;
}

.headerTitle {
    font-size: 44px;
    
}