.newPostForm {
    
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.postForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.addPost {
    width: 80px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ede7e7;
    color:  #66d8f5;
}

.cancelPost {
    width: 80px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ede7e7;
    color: red;
}