@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
    height: 100vh;
    font-size: 16px;
    line-height: 1;
    color: #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    flex: 1;
}

/* blog style */
/* .App { */
    /* width: 100%; */
    /* max-width: 1200px; */
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* border: 1px solid #333; */
    /* box-shadow: 0px 0px 15px gray; */
/* } */

/* .header,
.footer {
    width: 100%;
    background-color: #66d8f5;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



/* .totoal-items {
    font-weight: 600;
} */



/* main posts */
   
.about, 
.missing {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.missing h2, 
.missing p {
    margin-bottom: 20px;
}




/* new Post */


.newPostForm {
    display: flex;
    flex-direction: column;
}

.newPostForm label {
    margin: 20px 0 10px;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 48px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}

.newPostForm textarea {
    height: 100px;
}

.newPostForm button {
    margin-top: 18px;
    height: 48px;
    min-width: 48px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.newPostForm button:hover{
    background: #66d8f5;
}

.newPostForm button:focus{
    transform: scale(0.98);
}


.btn {
    background-color:  #66d8f5;
    margin-top: 18px;
    height: 48px;
    min-width: 48px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}


@media(min-width: 610px) {
  
    .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .searchForm {
        width: 50%;
        padding: 6px 0;
    }

    .searchForm input[type="text"] {
        margin-left: 8px;
    }

   

    .newPostForm textarea {
        height: 300px;
    }
}