.nav {
    background-color: #333;
   
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.navSearch {
    width: 700px;
}

.navSearch input {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    min-height: 48px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.navList {
    color: #fff;
    height: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navListItem {
    cursor: pointer;
    min-width: 100px;
    font-size: 20px;
    text-align: center;
    transition: .2s linear;
}

.navListItem:hover {
    
    color: #66d8f5;
    scale: 1.2;
}

