.editPostPage {
    flex-grow: 1;
}

.editPostForm {
	flex-grow: 1;
}

.editPostTitle {
	font-size: 32px;
    margin: 20px 0;
}

.postForm {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.formField {
	margin: 20px 0;
	font-size: 20px;
}

.formFieldImg img {
	width: 50%;
    margin-bottom: 15px;
}

.formField input,
.editPostForm textarea {
	margin: 10px 0;
	width: 100%;
	min-height: 48px;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	padding: 5px 10px;
    background: transparent;
}

.editPostForm textarea {
	height: 300px;
}

.editPostBtnBox {
	margin-top: 20px;
	margin-bottom: 100px;
}

.editPost {
	width: 80px;
	height: 40px;
	margin-right: 15px;
	cursor: pointer;
	border-radius: 10px;
	background-color: #ede7e7;
	color: #66d8f5;
}

.cancelPost {
	width: 80px;
	height: 40px;
	margin-right: 15px;
	cursor: pointer;
	border-radius: 10px;
	background-color: #ede7e7;
	color: red;
    
}
.editPost:hover,
.cancelPost:hover {
    transform: scale(1.8, 1.4);
    
}
